<footer class="">
    <div class="">
        <div class="pb-4" style="background-color: rgb(27, 27, 27);">

       
<div class="logos pt-3">
    <div class="logo1 text-white gap-4 d-flex justify-content-center align-items-center " style="font-size: 1.5rem;">
        <i class="bi bi-facebook " ></i>
        <i class="bi bi-whatsapp "></i>
        <i class="bi bi-instagram "></i>
        <i class="bi bi-linkedin "></i>
    </div>


</div>
<div class="links mt-3 ">
    <div class=" gap-5 d-flex justify-content-center align-items-center " style="font-size: 1rem;">
        <a href="#" class="text-decoration-none text-white-50">Home</a>
        <a href="#" class="text-decoration-none  text-white-50 ">About</a>
        <a href="#" class="text-decoration-none  text-white-50">News</a>
        <a href="#" class="text-decoration-none  text-white-50">Contact Us</a>
        
        
     </div>
</div>
</div>

<div class="legal pt-2" style="background-color: black;">
    <div class="d-flex justify-content-center align-items-center text-white " style="font-size: 1rem; ">
        
        <p>Copyright &#169; Desgined by Mohsin</p>
        
     </div>


</div>
</div>
</footer>
