<nav class=" navbar navbar-expand-sm bg-dark ">
    <div class="container-fluid bg-dark ">
      <a class="navbar-brand text-white" href="/home">Crypta</a>
      <button class="navbar-toggler bg-dark border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="bi  bi-menu-button text-white" style="font-size: 30px; " ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav  ">
         
          <a class="nav-link active text-white" aria-current="page"  href="/add-data">Add</a>
          <a class="nav-link text-white" href="/get-data">Browse </a>
          <a class="nav-link text-white" href="/get-shared-data">Shared</a>

        </div>
        <div class="navbar-nav ">
         
          <a class="nav-link text-white" href="/logout">Logout</a>


        </div>
      </div>
    </div>
  </nav>
  