<% layout("/layouts/boilerplate.ejs") %>

<body class="bg-black mt-5">
    <div class="row d-flex justify-content-center pt-5 ">


<div class="alert alert-danger col-6 " role="alert">
<p><%= message %></p>

</div>

</div>
</body>

